<app-header></app-header>
<main style="margin-top: 58px">
    <div class="col-md-6 offset-md-3 mt-5 pt-4">
        <app-alert></app-alert>
        <div class="card">
            <h4 class="card-header" style="text-align: center;">My Seller Profile</h4>
            <div class="card-body">
                <form [formGroup]="sellerProfileForm" (ngSubmit)="onSubmit()" novalidate>
                
                    <!-- email input -->
                    <div class="form-floating mb-4">
                        <input type="email" 
                               id="email" 
                               name="email" 
                               placeholder="Email" 
                               class="form-control" 
                               formControlName="email"
                               [ngClass]="{'is-invalid': displayMessage.email}" />
                        <label class="form-label" for="email">Email</label>
                        <span>
                            <span class="small">
                                <small> Min 6 characters, max 100 characters, eg: name@example.com</small>
                            </span>
                        </span>
                    </div>
                    <!-- Phone number input -->
                    <div class="form-floating mb-4">
                        <input type="text"
                               id="phoneNumber"
                               name="phoneNumber" 
                               placeholder="Phone Number" 
                               class="form-control"
                               formControlName="phoneNumber" 
                               [ngClass]="{'is-invalid': displayMessage.phoneNumber}" />
                        <label class="form-label" for="phoneNumber">Phone Number</label>
                        <span>
                            <span class="small">
                                <small> Not required, min 6 digits, max 30 digits </small>
                            </span>
                        </span>
                        <div class="alert alert-danger" *ngIf="invalid">
                            Cannot leave email field blank
                        </div>
                    </div>
                
                    <div>
                        <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Save changes
                        </button>
                        <button type="button" class="btn btn-danger btn-block" [routerLink]="['/my-adverts']">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>