/* You can add global styles to this file, and also import other style files */
@import "~mdb-ui-kit/css/mdb.min.css";
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}
h4 {
  color: rgb(36, 160, 237);
}

// .sapMInputBaseDisabled .sapMInputBaseInner::-webkit-input-placeholder {
//   opacity: 100;
// }
// .sapMInputBaseReadonly .sapMInputBaseInner::-webkit-input-placeholder {
//   opacity: 100;
// }
