<app-auth-header></app-auth-header>
<!-- Register form -->
<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header" style="text-align: center;">Register</h4>
        <div class="card-body">
            <form novalidate
                  (ngSubmit)="onRegister()"
                  [formGroup]="registerForm">
                <!-- Fornames -->
                <div class="form-floating mb-4">
                    <input type="text" 
                           id="forenames" 
                           name="forenames" 
                           placeholder="Forenames" 
                           class="form-control"
                           formControlName="forenames"
                           [ngClass]="{'is-invalid': displayMessage.forenames }" />
                    <label class="form-label" for="forenames">Forenames</label>
                    <span>
                        <span class="small">
                            <small> Min 1 characters, max 100 characters</small>
                        </span>
                    </span>
                </div>

                <!-- Surname -->
                <div class="form-floating mb-4">
                    <input type="text" 
                           id="surname" 
                           name="surname" 
                           placeholder="Surname" 
                           class="form-control"
                           formControlName="surname"
                           [ngClass]="{'is-invalid': displayMessage.surname }" />
                    <label class="form-label" for="email">Surname</label>
                    <span>
                        <span class="small">
                            <small> Min 3 characters, max 100 characters</small>
                        </span>
                    </span>
                </div>

                <!-- Email input -->
                <div class="form-floating mb-4">
                    <input type="email" 
                           id="email" 
                           name="email" 
                           placeholder="name@example.com" 
                           class="form-control"
                           formControlName="email"
                           [ngClass]="{'is-invalid': displayMessage.email }" />
                    <label class="form-label" for="email">Email address</label>
                    <span>
                        <span class="small">
                            <small> Min 6 characters, max 100 characters, eg: name@example.com</small>
                        </span>
                    </span>
                </div>

                <!-- Password Group input -->
                <div formGroupName="passwordGroup">
                    <!-- Password input -->
                    <div class="form-floating mb-4">
                        <input type="password" 
                               id="password" 
                               name="password" 
                               placeholder="password" 
                               class="form-control" 
                               formControlName="password"
                               [ngClass]="{'is-invalid': displayMessage.password }"/>
                        <label class="form-label" for="password">Password</label>
                        <span>
                            <span class="small">
                                <small> Min 8 characters, max 100 characters</small>
                            </span>
                        </span>
                    </div>
                    
                    <!-- Confirm Password input -->
                    <div class="form-floating mb-4">
                        <input type="password"
                               id="confirmPassword" 
                               name="password" 
                               placeholder="password" 
                               class="form-control"
                               formControlName="confirmPassword"
                               [ngClass]="{'is-invalid': registerForm.get('passwordGroup')?.errors||
                                                         displayMessage.confirmPassword}" />
                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                        <span>
                            <span class="small">
                                <small> Should match the first password</small>
                            </span>
                        </span>
                    </div>
                </div>
                
                <div class="alert alert-danger" *ngIf="invalid">
                    Fill in all fields
                </div>

                <!-- Submit button -->
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <div class="text-center" style="padding: 20px;">
                    <p>Already have an account? <a [routerLink]="['/login']" >Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Register form -->

<!-- Footer -->
<app-footer></app-footer>